Babel==2.9.1  # min version = 2.6.0 (Focal with security backports)
chardet==3.0.4
cryptography==42.0.5 ; python_version < '3.12'  # for security fixes
cryptography==42.0.8 ; python_version >= '3.12'  # (Noble) min 41.0.7, pinning 42.0.8 for security fixes
decorator==4.4.2
docutils==0.16
ebaysdk==2.1.5
freezegun==0.3.11; python_version < '3.8'
freezegun==0.3.15; python_version >= '3.8'
gevent==1.5.0 ; sys_platform != 'win32' and python_version == '3.7'
gevent==20.9.0 ; sys_platform != 'win32' and python_version > '3.7' and python_version <= '3.9'
gevent==21.8.0 ; sys_platform != 'win32' and python_version > '3.9' and python_version < '3.12' # (Jammy)
gevent==24.2.1 ; sys_platform != 'win32' and python_version >= '3.12'  # (Noble)
greenlet==0.4.15 ; sys_platform != 'win32' and python_version == '3.7'
greenlet==0.4.17 ; sys_platform != 'win32' and python_version > '3.7' and python_version <= '3.9'
greenlet==1.1.2 ; sys_platform != 'win32' and python_version > '3.9' and python_version < '3.12' # (Jammy)
greenlet==3.0.3 ; sys_platform != 'win32' and python_version >= '3.12'  # (Noble)
idna==2.8
Jinja2==3.1.4  # for security fixes
libsass==0.18.0 ; python_version < '3.12'
libsass==0.22.0 ; python_version >= '3.12'  # (Noble) Mostly to have a wheel package
lxml==4.9.1; python_version < '3.12' # for security fixes
lxml==5.2.1; python_version >= '3.12' # (Noble - removed html clean)
lxml-html-clean; python_version >= '3.12' # (Noble - removed from lxml, unpinned for futur security patches)
MarkupSafe==2.0 ; python_version < '3.12' # for compatibility with Jinja2==3.1.4
MarkupSafe==2.1.5 ; python_version >= '3.12'  # (Noble) Mostly to have a wheel package
num2words==0.5.6
ofxparse==0.19; python_version <= '3.9'
ofxparse==0.21; python_version > '3.9'  # (Jammy)
passlib==1.7.3 # min version = 1.7.2 (Focal with security backports)
Pillow==10.3.0 # for security fixes
polib==1.1.0
psutil==5.6.7 ; python_version < '3.12' # min version = 5.5.1 (Focal with security backports)
psutil==5.9.8 ; python_version >= '3.12'  # (Noble) Mostly to have a wheel package
psycopg2==2.7.7; sys_platform != 'win32' and python_version < '3.8'
psycopg2==2.8.6; sys_platform == 'win32' and python_version < '3.8'
psycopg2==2.8.6; python_version >= '3.8' and python_version < '3.12'
psycopg2==2.9.9 ; python_version >= '3.12'  # (Noble) Mostly to have a wheel package
pydot==1.4.1
pyopenssl==19.0.0 ; python_version < '3.12'
pyopenssl==24.1.0 ; python_version >= '3.12' # (Noble) min 23.2.0, pinned for compatibility with cryptography==42.0.8 and security patches
PyPDF2==1.26.0 ; python_version < '3.12'
PyPDF2==2.12.1 ; python_version >= '3.12' # (Noble) Compatibility with cryptography
pypiwin32 ; sys_platform == 'win32'
pyserial==3.4
python-dateutil==2.7.3
python-ldap==3.4.0 ; sys_platform != 'win32' and python_version < '3.12' # min version = 3.2.0 (Focal with security backports)
python-ldap==3.4.4 ; sys_platform != 'win32' and python_version >= '3.12'  # (Noble) Mostly to have a wheel package
python-stdnum==1.13
pytz  # no version pinning to avoid OS perturbations
pyusb==1.0.2 ; python_version < '3.12'
pyusb==1.2.1 ; python_version >= '3.12'  # (Noble) Mostly to have a wheel package
qrcode==6.1
reportlab==3.6.13 ; python_version < '3.12' # for security fixes
reportlab==4.1.0 ; python_version >= '3.12' # (Noble) Mostly to have a wheel package
requests==2.32.0  # for security fixes
urllib3==1.26.18 ;  python_version < '3.12' # for security fixes
urllib3==2.0.7  ; python_version >= '3.12'  # (Noble) Compatibility with cryptography
vobject==0.9.6.1
Werkzeug==0.16.1 ; python_version <= '3.9'
Werkzeug==2.0.2 ; python_version > '3.9'  # (Jammy)
xlrd==1.1.0; python_version < '3.8'
xlrd==1.2.0; python_version >= '3.8'
XlsxWriter==1.1.2
xlwt==1.3.0
zeep==3.4.0
phonenumbers
gengo
pdfminer.six==20201018
websocket-client
geoip2==4.6.0
